{% extends 'inventaire/base.html' %}

{% block content %}

    <h1>Detail de la catégorie {{ categorie.name }}</h1>

    <ul>
        <li>ID: {{ categorie.id }}</li>
        <li>Nom: {{ categorie.name }}</li>
        <li>Description: {{ categorie.description }}</li>
    </ul>

    <a href="{% url 'categorie-list' %}">Retour a la liste de catégories</a>
    <a href="{% url 'categorie-update' categorie.id %}">Modifier la catégorie</a>
    <a href="{% url 'categorie-delete' categorie.id %}">Supprimer la catégorie</a>

{% endblock %}
